.education-container {
  display: flex;
  flex-direction: column;
}

.education-container-reglada, .education-container-noreglada {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.education-title {
  margin-top: 30px;
  font-weight: bold;
}