:root {
  --blue-color: #0071b8;
  --blue-color-opacity: #0071b84d;
  --gray-color: #787878;
  --gray-color-opacity: #7878784d;
}

/* -------- PAGE CONTAINERS ------- */

.experience-container, .skills-container, .education-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 30px;
  width: 90%;
}

/* -------- EXPERIENCE ------- */


/* -------- SKILLS ------- */

.skills-items-description {
  display: flex;
  height: 20%;
  align-items: center;
  color: var(--gray-color);
}

.skills-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 80%;
}

.skills-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 5%;
}
/* -------- EDUCATION ------- */

.education-container-reglada, .education-container-noreglada {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.education-title {
  margin-top: 30px;
  font-weight: bold;
}