.education-item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.education-item-info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.education-item-titulo {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.education-item-logo {

}

.education-item-title {

}

.education-item-period {

}

.education-item-description {

}