:root {
  --blue-color: #0071b8;
  --blue-color-opacity: #0071b84d;
  --gray-color: #787878;
  --gray-color-opacity: #7878784d;
}

.education-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom:10px
}

.education-item-info {
  display: flex;
  flex-direction: column;
}

.education-item-main {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.education-item-title {
  color: var(--blue-color);
  margin-right: 10px;
  font-weight: bold;
}

.education-item-period {
  font-weight: bold;
}

.education-item-description {
  color: var(--gray-color);
  font-weight: bold;
}