:root {
  --blue-color: #0071b8;
  --blue-color-opacity: #0071b84d;
  --gray-color: #787878;
  --gray-color-opacity: #7878784d;
}

.skill-item {
  padding: 40px;
}

.button-item {
  text-transform: capitalize;
    background-color: var(--blue-color);
    color: white;
    padding: 20px;
    font-size: large;
}

/* 
  ##Device = Descktop
*/
@media screen and (min-width: 768px) {

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media screen and (min-width: 481px) and (max-width: 767px) {
  .skill-item {
    padding: 10px;
  }
}

/* 320px — 480px: Mobile devices. */
@media screen and (min-width: 320px) and (max-width: 480px)  {
  .skill-item {
    padding: 10px;
  }
} 